@font-face {
	font-family: 'roboto_condensedregular';
	src: url('font/RobotoCondensed-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
    background-color: white;
	font-family: 'roboto_condensedregular';
	color: black;

}

body{
	text-align: center;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
    padding: 0.5em;
}

main {
    flex: 1;
    background-color: #FAFAFA;
    padding: 1em;

}

.block_content{
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

footer {
    padding:0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 0.5em;
}

h1 {
	font-size: 2em;
    font-weight: bold;
    color: purple;
	margin: 0;
}

h2 {
	font-size: 1.8em;
	margin: 0.5em 0;
}

h3 {
	font-size: 1.5em;
    margin: 0.5em 0 0 0;
}

h4 {
	font-size: 1.2em;
	margin: 0;
}

p {
    margin: 0;
    padding: 0.5em;
}

div {
}

ul{
    margin: 0;
    padding:0;
    display: flex;
	flex-direction: column;
}

li {
	display: inline;
	margin: 0;
}

li a {
	text-decoration: none;
}

img {
    width: 600px;
    height: auto;
}

@media(max-width: 800px)
{
	img {
	    max-width: 300px;
	    height: auto;
	}
}

.image_logo{
	width: 3em;
}

.image_logo_small{
	height: 2em;
	width: auto;
}